root = true

[*]
indent_style = space

[*.cs]
indent_size                                                = 4
dotnet_style_predefined_type_for_locals_parameters_members = true : warning
csharp_new_line_before_open_brace                          = all
csharp_space_after_keywords_in_control_flow_statements     = true
csharp_prefer_braces                                       = true : warning

[*.razor]
indent_size  = 4

